<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <img class="logo center" src="logotipo.png">
        <h1 class="header center teal-text text-lighten-2">SEE-D-RONE</h1>
        <div class="row center">
          <h5 class="header col s12 light">Una forma de hallar combustible renovable a través del gas.</h5>
        </div>
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Problemática</h5>

            <p class="light">Existen concentraciones de metano en la tierra, producto del efecto invernadero.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Trabajando juntos.</h5>

            <p class="light">Localizando y midiendo constantemente esta emiciones, podemos monitorear el cambio climático incluso desde la sociedad.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Drones y Web.</h5>

            <p class="light">Nuestra trabajo pretende ser el recordatorio constante de lo que aún podemos arreglar.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"> "La naturaleza no es un lugar para visitar. Es el hogar." <i>Gary Snyder.</i></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4></h4>
          <p class="left-align light">Hay un alto nivel de coincidencia y abundante evidencia respecto a que con las políticas y prácticas de desarrollo actuales las emisiones mundiales de GEI seguirán aumentando en las próximas décadas.
          De continuar creciendo las emisiones de GEI a una tasa igual o superior a la actual, el calentamiento aumentaría y el sistema climático mundial experimentaría durante el siglo XXI numerosos cambios, muy probablemente mayores que los observados durante el siglo XX.
          El cambio climático provocado por el hombre y el aumento del nivel del mar se mantendrán por siglos debido a la magnitud de las escalas de tiempo asociadas a los procesos climáticos, aún si se estabilizan las concentraciones de GEI.
          La alteración de la frecuencia e intensidad de los eventos climáticos extremos, sumada al aumento del nivel del mar, tendrán previsiblemente efectos extremadamente adversos sobre los sistemas naturales y humanos.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">"La Tierra es un lugar más bello para nuestros ojos que cualquiera que conozcamos. Pero esa belleza ha sido esculpida por el cambio: el cambio suave, casi imperceptible, y el cambio repentino y violento." <i>Carl Sagan.</i></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">See-D-RONE</h5>
          <p class="grey-text text-lighten-4">Los datos obtenidos para este sitio web se obtinen de nuestros drones en campo.</p>
        </div>
      </div>
        <div class="col l3 s12">
          <h5 class="white-text">MEDICIONES EN CAMPO</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <p class="brown-text text-lighten-3">Space Apps Abril/2016 by Frijolito-x</p>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
